*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --color-success: rgb(4, 161, 30);
    --color-primary:rgb(4, 139, 133);
    --color-yellow:#e5ff00;
    --color-white:#fff;
    --color-black:#000;
}
#main{
    position:relative;
    transition: all 0.5s;
}
html{
    scrollbar-width: thin;
}

/* PopUpWindow */
.popupwindow{
    /* display: none; */
    position: fixed;
    top: 30%;
    left:50%;
    background: transparent;
    width: 30%;
    height: 35vh;
    transition: all 0.5s;
}
.PopOuterDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 2rem 3rem;
    background-color: rgb(201, 248, 201);
    position: absolute;
    border-radius: 10px;
}
.popupwindow h2{
    margin-bottom: 1rem;
    font-size: 1.3rem;
    color: var(--color-primary);
}
.popupwindow p{
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: rgb(163, 45, 2);
    font-weight: bold;
}
.PopOuterDiv .popx{
    position: absolute;
    right: 3%;
    top: 5%;
    font-size: 1.2rem;
}

@media only screen and (max-width:425px){
    .popupwindow{
        top: 30%;
        left:25%;
        width: 65%;
        height: 30vh;
    }
    .PopOuterDiv{
        padding: 1rem;
    }
    .popupwindow h2{
        font-size: 0.8rem;
    }
    .popupwindow p{
        font-size: 0.7rem;
    }
    .PopOuterDiv .popx{
        font-size: 0.9rem;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    .popupwindow{
        top: 30%;
        left:35%;
        width: 45%;
        height: 35vh;
    }
    .PopOuterDiv{
        padding: 1.1rem;
    }
    .popupwindow h2{
        font-size: 0.9rem;
    }
    .popupwindow p{
        font-size: 0.8rem;
    }
    .PopOuterDiv .popx{
        font-size: 1rem;
    }
}

@media only screen and (min-width:769px) and (max-width:1200px){
    .popupwindow{
        top: 30%;
        left:30%;
        width: 35%;
        height: 40vh;
    }
    .PopOuterDiv{
        padding: 1.5rem;
    }
    .popupwindow h2{
        font-size: 1.1rem;
    }
    .popupwindow p{
        font-size: 1rem;
    }
    .PopOuterDiv .popx{
        font-size: 1rem;
    }
}


/* Navbar */
.navbar{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    min-height: 12vh;
    background: #c7c2ce77;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}
#open,#close{
    display: none;
}
.mobile{
    display: none;
}
.window-scroll{
    background:lightblue;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.navbar .navleft{
    padding: 0px 2rem;
}
.navbar .navright ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
.navright ul li{
    list-style-type: none;
    position: relative;
}
.navright ul li a{
    text-decoration: none;
    padding: 1rem;
    color: var(--color-black);
    font-weight: 500;
}
ul li a:hover, ul li a::after{
    text-decoration: underline var(--color-primary);
    text-underline-position: under;
    color: var(--color-primary);
}
#select{
    position: absolute;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    cursor: pointer;
    font-weight: 500;
    top: 30px;
    visibility: hidden;
    z-index: 1;
}
li:hover ul#select{
    opacity: 1;
    visibility: visible;
    background-color:rgb(185, 236, 238);
    padding: 2rem 0;
    font-size: 1.1rem;
}
#select li{
    margin:0.5rem;
}

/* Main */
.main-content{
    min-height:100vh;
    background: url("images/hero4.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-content .main-content-left{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.main-content-left h4{
    margin: 0.5rem 0;
    font-size: 1.2rem;
}
.main-content-left h2{
    font-size: 2.5rem;
}
.main-content-left h1{
    margin: 0.2rem 0;
    font-size: 2.5rem;
}
.main-content-left p{
    margin:1rem 0;
    text-align: left;
    color: #000;
}
.onallproducts{
    color: var(--color-primary);
}
.main-content-left .btn{
    padding: 1rem;
    color: var(--color-primary);
    font-weight: 500;
    border: none;
    background: none;
    background-image: url("images/button.png");
    background-repeat: no-repeat;
    text-align: left;
    padding-left: 5rem;  
    cursor: pointer;
}
.main-content-left .btn a{
    text-decoration: none;
    color: #000;
}
.main-content-left .btn a:hover{
    text-decoration: underline #7c7b7b;
    text-underline-position: under;
}
.main-content-right img{
    height: 100%;
    width: 100%;
}

/* Details */
.details{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    padding: 3rem;
    margin: 2rem 0;
}
.details .details-box{
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    cursor: pointer;
}
.details .details-box:hover{
    box-shadow: 5px 10px 30px rgba(0, 0, 0, 0.2);
}
.details-box h4{
    font-size: 0.8rem;
    margin: 0 auto;
    padding:2px 8px;
    margin-top: 10px;
    background: #f0b7d3;
    width: fit-content;
    border-radius: 2px;
}
.details-box:nth-child(2) h4{
    background: rgb(175, 236, 175);
}
.details-box:nth-child(3) h4{
    background: rgb(175, 234, 236);
}
.details-box:nth-child(4) h4{
    background: rgb(217, 175, 236);
}
.details-box:nth-child(5) h4{
    background: rgb(179, 175, 236);
}
.details-box:nth-child(6) h4{
    background: rgb(227, 236, 175);
}

/* Featured Products */
.featured_products{
    min-height: 100vh;
    width: 100%;
    margin: 1rem 0;
    padding:3rem 2rem;
}
.featured_products h1{
    font-size: 2.5rem;
    text-align: center;
}
.featured_products p{
    font-size: 1rem;
    text-align: center;
    margin: 1rem 0;
}
.product_cart{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 1rem;
    margin: 2rem 0;
}
.product_cart .product{
    border: 1px solid #cccbcb;
    padding: 1rem 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    position: relative;
}
.product:hover{
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}
.product:hover h4{
    color: var(--color-primary);
}
.product_cart .product img{
    height: 65%;
    width: 100%;
    border-radius: 1rem;
}
.product_cart p,
.product_cart h4, .product_cart .five-star{
    text-align: left;
    margin: 0.5rem 0;
    padding-left: 10px;
}
.five-star i{
    color: #ffd000;
}
.price{
    color: var(--color-primary);
}
.productcart-image{
    position: absolute;
    right: 1rem;
    bottom: 2rem;
    font-size: 1.5rem;
    color: var(--color-primary);
    border-radius: 50%;
}
.productcart-image:hover{
    color: #000;
}

/* Repair Service */
.repairservice{
    width: 100%;
    min-height: 40vh;
    background-image: url(images/b2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 3rem;
    text-align: center;
    margin: 2rem 0 3rem;
}
.repairservice h4{
    text-align: center;
    margin: 1rem;
    color: var(--color-white);
}
.repairservice p{
    font-size: 1.7rem;
    text-align: center;
    margin: 1rem;
    color: var(--color-white);
}
.repairservice p span{
    color: rgb(252, 67, 0);
}
.repairservice .btn{
    padding: 0.6rem 1.2rem;
    font-weight: 600;
    border: none;
    border-radius: 2px;
    cursor: pointer;

}
.repairservice .btn:hover{
    background: var(--color-primary);
    color: var(--color-white);
}

/* Offers */
.offers{
    width: 100%;
    min-height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 2rem;
    margin: 3rem 0;
    color: var(--color-white);
}
.offers .offer-left{
    background-image: url("images/b17.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}
.offers .offer-left p,h3{
    margin-bottom: 1rem;
}
.offers .offer-right{
    background-image: url("images/b10.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}
.offers .offer-right p,h3{
    margin-bottom: 1rem;
}
.offers .offer-left .offer-btn,
.offers .offer-right .offer-btn,
.three-offers .offer-btn{
    width: fit-content;
    padding: 0.6rem 1rem;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 600;
    background: transparent;
    cursor: pointer;
    margin-top: 1rem;
}
.offers .offer-left .offer-btn a,
.offers .offer-right .offer-btn a,
.three-offers .offer-btn a{
    text-decoration: none;
    color: #fff;
}

.offers .offer-left .offer-btn:hover,
.offers .offer-right .offer-btn:hover,
.three-offers .offer-btn:hover{
    background: var(--color-primary);
    /* border: none; */
}
.three-offers{
    width: 100%;
    min-height: 40vh;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
    margin: 4rem 0;
    padding: 0 2rem;
}
.seasonal-sale{
    background-image: url("images/b7.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:0  2rem ;
}
.new-footware-collection{
    background-image: url("images/b4.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:0  2rem ;
}
.t-shirts{
    background-image: url("images/b18.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding:0  2rem ;
}
.seasonal-sale h3,.new-footware-collection h3,.t-shirts h3{
    color: var(--color-white);
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}
.seasonal-sale p,.new-footware-collection p,.t-shirts p{
    color: rgb(250, 86, 57);
    font-weight: bold;
    font-size: 0.9rem;
}

/* News Letters */
.newsletters{
    min-height: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
    padding: 2rem;
    margin: 3rem 0;
    background-image: url("images/banner.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.newsletters .newslettersleft  h3{
    font-size: 1.6rem;
    color: var(--color-white);
}
.newsletters .newslettersleft  p{
    color: rgb(179, 177, 177);
}
.newsletters .newslettersleft  p span{
    color: rgb(255, 69, 0);
}
.newsletters .newslettersright{
    display: flex;
    background: var(--color-white);
    width: fit-content;
    width: 80%;
}
.newsletters .newslettersright input{
    padding: 0.7rem 1rem;
    width: 75%;
    border: none;
    outline: none;
}
.newsletters .newslettersright .signup{
    padding: 0.7rem 1rem;
    width: 25%;
    border: none;
    background: var(--color-primary);
    color: var(--color-white);
    cursor: pointer;
}

/* Footer */
footer{
    min-height: 50vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 2rem;
    padding: 3rem;
}
footer  p{
    font-size: 0.9rem;
    margin-bottom: 10px;
}
footer p:hover,
footer p:hover a{
    color: var(--color-primary);
}
footer p span{
    font-weight: bold;
    color: #000;
    font-size: 1rem;
}
footer  ,.footercontact h4, .footerabout h4, .footermyaccount h4,.footerinstallapp h4{
    margin: 0.5rem 0;
}
.footermyaccount p a{
    text-decoration: none;
    color: #000;
}
footer  ,.footercontact, .follow{
    margin:1.3rem 0;
}
.footercontact .followus a{
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
    color: #000;
    font-size: 1.3rem;
}
.footercontact .followus a:hover{
    color: var(--color-primary);
}
footer .footerabout a{
    text-decoration: none;
    color: #000;
}

footer .footerinstallapp .appgoogle{
    display: flex;
    gap: 1rem;
    margin: 1rem 0;
}
footer .footerinstallapp .appgoogle img{
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    cursor: pointer;
}



/* Media Quries For Tablets */
@media only screen and (max-width:1024px){
    /* Navbar */
    .navright ul li a{
        padding: 0.8rem;
    }
    
    /* Main */
    .main-content{
        min-height:90vh;
    }
    .main-content-left h4{
        font-size: 1rem;
    }
    .main-content-left h2{
        font-size: 2rem;
    }
    .main-content-left h1{
        font-size: 2.2rem;
    }

    /* Details */
    .details{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
    }

    /* Three Offers */
    .three-offers h3{
        font-size: 1.1rem;
        text-align: left;
    }
    .three-offers p{
        font-size: 0.8rem;
    }

    /* News Letters */
    .newsletters .newslettersright{
        width: 100%;
    }
    .newsletters .newslettersright input{
        padding: 0.5rem;
        width: 70%;
        font-size: 0.9rem;
    }
    .newsletters .newslettersright .signup{
        padding: 0.5rem;
        width: 30%;
        font-size: 0.9rem;
        border: none;
        background: var(--color-primary);
        color: var(--color-white);
        cursor: pointer;
    }

    /* Featured Products */
    .product_cart{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 2rem;
    }
    .productcart-image{
        position: absolute;
        right: 1rem;
        bottom: 1.5rem;
    }
    .product_cart .product img{
        height: 70%;
    }

    /* Footer */
    footer{
        min-height: 50vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        /* grid-template-columns: 33% 10% 10% 33%; */
        gap: 2rem;
        padding:2rem 3rem;
    }
    footer h4{
        text-align: center;
    }
    footer .footercontact img{
        margin-left: 3rem;
    }

}




/* Media Quries For Mobiles */
@media only screen and (max-width:860px){
    /* Navbar */
    .navright ul li a{
        padding: 0.7rem;
        font-size: 0.9rem;
    }

    /* Main */
    .main-content{
        min-height:90vh;
        padding: 0 3rem;
    }
    .main-content-left h4,p{
        font-size: 0.8rem;
    }
    .main-content-left h2{
        font-size: 1.8rem;
    }
    .main-content-left h1{
        font-size: 2rem;
    }

    /* Details */
    .details{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1rem;
    }

    /* Three Offers */
    .three-offers h3{
        font-size: 1.1rem;
        text-align: left;
    }
    .three-offers p{
        font-size: 0.8rem;
    }

    /* Featured Products */
    .productcart-image{
        position: absolute;
        right: 1rem;
        bottom: 1.5rem;
    }
    .product_cart .product img{
        height: 60%;
    }
    .product_cart{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1rem;
    }

    .newsletters .newslettersright{
        width: 100%;
    }
    .newsletters .newslettersright input{
        padding: 0.5rem;
        width: 70%;
        font-size: 0.7rem;
    }
    .newsletters .newslettersright .signup{
        padding: 0.5rem;
        width: 30%;
        font-size: 0.8rem;
        border: none;
        background: var(--color-primary);
        color: var(--color-white);
        cursor: pointer;
    }

    /* Footer */
    footer{
        min-height: 50vh;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: center;
        text-align: center;
        /* grid-template-columns: 33% 10% 10% 33%; */
        gap: 2rem;
        padding:2rem 3rem;
    }
    footer h4{
        text-align: center;
    }
    footer .footercontact img{
        margin-left: 3rem;
    }

}



/* Media Quries For Mobiles */
@media only screen and (max-width:700px){
     /* Navbar */
     .navright ul li a{
         padding: 0.7rem;
         font-size: 0.9rem;
     }
 
     /* Main */
     .main-content{
         min-height:90vh;
         padding: 0 2rem;
     }
     .main-content-left h4,p{
         font-size: 0.8rem;
     }
     .main-content-left h2{
         font-size: 1.8rem;
     }
     .main-content-left h1{
         font-size: 2rem;
     }
 
     /* Details */
     .details{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 1rem;
     }
 
 
     /* Featured Products */
     .productcart-image{
         position: absolute;
         right: 1rem;
         bottom: 1.5rem;
     }
     .product_cart .product img{
         height: 65%;
     }
     .product_cart{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 0.5rem;
     }
 
     .newsletters .newslettersright{
        width: 100%;
    }
    .newsletters .newslettersright input{
        padding: 0.5rem;
        width: 70%;
        font-size: 0.7rem;
    }
    .newsletters .newslettersright .signup{
        padding: 0.5rem;
        width: 30%;
        font-size: 0.8rem;
        border: none;
        background: var(--color-primary);
        color: var(--color-white);
        cursor: pointer;
    }

    .three-offers{
        min-height: 100vh;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin: 4rem 0;
        padding: 0 2rem;
    }

    /* Offers */
 
    .offers{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

     /* Footer */
     footer{
         min-height: 50vh;
         width: 100%;
         display: grid;
         grid-template-columns: repeat(2,1fr);
         justify-content: center;
         align-items: center;
         text-align: center;
         /* grid-template-columns: 33% 10% 10% 33%; */
         gap: 2rem;
         padding:2rem 3rem;
     }
     footer h4{
         text-align: center;
     }
     footer .footercontact img{
         margin-left: 3rem;
     }
     footer .footerinstallapp .appgoogle img{
        width:50%;
     } 
 
 }




 /* Media Quries For Mobiles */
@media only screen and (max-width:600px){
     /* Navbar */
     .navright ul li a{
         padding: 0.5rem;
         font-size: 0.8rem;
     }
 
     /* Main */
     .main-content{
         min-height:90vh;
         padding: 0 1rem;
     }
     .main-content-left h4,p{
         font-size: 0.8rem;
     }
     .main-content-left h2{
         font-size: 1.8rem;
     }
     .main-content-left h1{
         font-size: 2rem;
     }
 
     /* Details */
     .details{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 1rem;
     }
 
 
     /* Featured Products */
     .productcart-image{
         position: absolute;
         right: 1rem;
         bottom: 1.5rem;
     }
     .product_cart .product img{
         height: 65%;
     }
     .product_cart{
         display: grid;
         grid-template-columns: repeat(2,1fr);
         gap: 0.5rem;
     }
 
     .newsletters .newslettersright{
        width: 100%;
    }
    .newsletters .newslettersright input{
        padding: 0.5rem;
        width: 70%;
        font-size: 0.7rem;
    }
    .newsletters .newslettersright .signup{
        padding: 0.5rem;
        width: 30%;
        border: none;
        font-size: 0.7rem;
        background: var(--color-primary);
        color: var(--color-white);
        cursor: pointer;
    }

    .three-offers{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 2rem;
        margin: 4rem 0;
        padding: 0 2rem;
    }

    /* Offers */
 
    .offers{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

     /* Footer */
     footer{
         min-height: 50vh;
         width: 100%;
         display: grid;
         grid-template-columns: repeat(2,1fr);
         justify-content: center;
         align-items: center;
         text-align: center;
         /* grid-template-columns: 33% 10% 10% 33%; */
         gap: 2rem;
         padding:2rem 3rem;
     }
     footer h4{
         text-align: center;
     }
     footer .footercontact img{
         margin-left: 3rem;
     }
 
 }






 /* Media Quries For Mobiles */
@media only screen and (max-width:550px){
    /* body{
     background: red;
    } */
    .navbar .navright{
        position: relative;
    }
    .navbar .navright ul{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -250px;
        top: 0;
        height: 100vh;
        width: 250px;
        background: var(--color-primary);
        padding: 2rem;
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.2);
        display: none;
        transition: all ease 0.5s;
    }
    
    .navbar .navright ul li{
        margin-bottom: 1.5rem;
    }
    .navbar .navright ul li a{
        font-size: 1.1rem;
        color: var(--color-white);
    }
    .mobile{
        display: flex;
    }
    .mobile i{
        position: absolute;
        top: 30%;
        right: 10%;
    }
    #open{
        display: block;
        position: absolute;
        right: 4%;
        font-size: 1.3rem;
    }
    #close{
        display: none;
        position: absolute;
        left: 5%;
        top: 4%;
        font-size: 1.3rem;
    }
    #select{
        top: 50px;
        width: fit-content;
        height: fit-content;
    }
    li:hover ul#select{
        left: 0;
        font-size: 0.9rem;
        top: 100%;
        background-color:rgb(179, 175, 236);
        padding: 0;
    }
    #select li{
        margin:0.5rem;
    }


    
     /* Main */
     .main-content{
         min-height:60vh;
     }
     .main-content-left h4,p{
         font-size: 0.8rem;
     }
     .main-content-left h2{
         font-size: 1.2rem;
     }
     .main-content-left h1{
         font-size: 1.5rem;
     }
     .main-content .btn{
        font-size: 0.8rem;
     }
 
     /* Details */
     .details{
         display: grid;
         grid-template-columns: 1fr;
         gap: 3rem;
     }

 
     /* Featured Products */
     .featured_products h1{
        font-size: 1.3rem;
     }
     .featured_products p{
        font-size: 0.7rem;
     }
     .productcart-image{
         position: absolute;
         right: 1rem;
         bottom: 1.4rem;
         font-size: 1.2rem;
     }
     .product_cart .product img{
         height: 70%;
     }
     .product_cart{
         display: grid;
         grid-template-columns: 1fr;
         gap: 3rem;
         padding: 0rem;
     }
     .product h4{
        font-size: 0.8rem;
     }
     .five-star i{
        font-size: 0.8rem;
    }
     /* RepairService */
     .repairservice h4{
        font-size: 0.9rem;
     }
     .repairservice p{
        font-size: 1rem;
     }
     .repairservice .btn{
        font-size: 0.7rem;
     }

    .offers .offer-left .offer-btn,
    .offers .offer-right .offer-btn,
    .three-offers .offer-btn{
        padding: 0.3rem 0.8rem;
        margin-top: 0.3rem;
    }
    .offers .offer-left .offer-btn a,
    .offers .offer-right .offer-btn a,
    .three-offers .offer-btn a{

        font-size: 0.7rem;
    }

     /* NewsLetters */
    .newsletters{
        grid-template-columns: 1fr;
    }   
     .newsletters .newslettersright{
        width: 100%;
    }
    .newsletters .newslettersright input{
        padding: 0.5rem;
        width: 70%;
        font-size: 0.6rem;
    }
    .newsletters .newslettersleft h3{
        font-size: 1rem;
    }
    .newsletters .newslettersleft p{
        font-size: 0.7rem;
    }
    .newsletters .newslettersright .signup{
        padding: 0.5rem;
        width: 30%;
        border: none;
        font-size: 0.5rem;
        background: var(--color-primary);
        color: var(--color-white);
        cursor: pointer;
    }

    .three-offers{
        display: grid;
        grid-template-columns:1fr;
        gap: 2rem;
        margin: 4rem 0;
        padding: 0 2rem;
        min-height: 100vh;
    }

    /* Offers */
 
    .offers{
        height: 100vh;
        display: grid;
        grid-template-columns: 1fr;
    }

    /* Three Offers */
    .three-offers h3{
        font-size: 0.9rem;
    }
    .three-offers p{
        font-size: 0.7rem;
    }

      /* Footer */
     footer{
         min-height: 50vh;
         width: 100%;
         display: grid;
         grid-template-columns: 1fr;
         justify-content: center;
         align-items: center;
         text-align: center;
         /* grid-template-columns: 33% 10% 10% 33%; */
         gap: 2rem;
         padding:2rem 3rem;
     }
     footer h4{
         text-align: center;
     }
     footer p{
        font-size: 0.8rem;
     }
     footer .footercontact img{
         margin-left: 3rem;
     }
     .footercontact p span{
        font-size: 0.9rem;
     }
 
 }










 /* Shop */
 .main-new{
    background-image: url("images/b1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 40vh;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .main-new h1{
    font-size: 2rem;
    margin-bottom: 10px;
 }
 .main-new h1,
 .main-new p{
    text-align: center;
    color: #fff;
 }
 .listPage{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .listPage li{
    list-style-type: none;
    background: var(--color-primary);
    padding: 0.6rem 1rem;
    margin: 0px 4px;
    color: var(--color-white);
    border-radius: 4px;
    cursor: pointer;
    font-size: 0.8rem;
    border: none;
 }
 .listPage li i{
    padding: 0.6rem 0.4rem;
    text-align: center;
 }
 .listPage li:hover{
    background-color: rgb(2, 2, 2);
 }
 .listPage .active{
    background-color: rgb(2, 2, 2);
 }
 /* .listPage li:nth-child(1),
 .listPage li:nth-child(5){
    padding:0 0.4rem 0 0.2rem;
    font-size: 1.2rem;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
 } */


 /* Single Product Page */
 .product-show-container{
    display: grid;
    grid-template-columns: 30% 60%;
    padding:2rem 5rem;
    gap: 5rem;
 }
 .product-images-container img{
    width: 100%;
 }
 .product-images-container .product-bottom-images{
    width: 24%;
    display: flex;
    margin-top: 1rem;
 }
 .product-images-container .product-bottom-images img{
    margin-right: 6px;
}
.product-images-container h4{
    color: rgb(247, 39, 39);
    font-size: 1.1rem;
}
.product-images-container h2{
    font-size: 1.1rem;
    background: #ffd000;
    width: fit-content;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.product-details-container h2{
    padding:1rem 0;
}
.product-details-container select{
    margin: 0 0  0.5rem 0;
    display: block;
}
.product-details-container input{
    width: 40px;
    height: 40px;
    text-align: center;
}
.product-details-container input:focus{
    outline: none;
}
.product-details-container button{
    padding: 0.7rem 2.5rem;
    background: var(--color-primary);
    border: none;
    color: var(--color-white);
    font-weight: bold;
    cursor: pointer;
    border-radius: 2px;
    margin-left: 7px;
}
.product-details-container h3{
    padding: 1rem 0;
    font-size: 1.3rem;
}
.product-details-container p{
    padding: 0 0 1rem 0;
    line-height: 1.5rem;
}



/* Single Page Pagination */
@media only screen and (max-width:425px){
    .product-show-container{
        grid-template-columns: 100%;
        padding:3rem;
     }
     .product-images-container .product-bottom-images img{
        margin-right: 5px;
    }
    .product-details-container{
        width: 100%;
    }
    .product-details-container h4{
        padding: 0 0 0.8rem 0;
    }
    .product-details-container h2{
        padding:0 0  1rem 0;
    }
    .product-details-container select{
        margin: 0 0  0.5rem 0;
        display: block;
    }

}



/* Blog Page */
.blog-main{
    width:100%;
    min-height:40vh;
    background-image: url("images/b19.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 2rem;
}
.blog-image-content{
    min-height: 50vh;
    width: 80%;
    padding: 0rem 1rem;
}
.blog-box{
    width: 80%;
    min-height: 100%;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    justify-content: center;
    align-items: center;
    position: relative;
}
.blog-image-content .blog-image img{
    height: 45%;
    width: 40%;
    margin-bottom: 1rem;
}
.blog-content{
    padding-right: 1rem;
    position: relative;
}
.blog-content p{
    margin: 1.2rem 0;
}
.blog-content .btitle{
    padding: 0 0 0 1.5rem;
}
.blog-content .btitle::before{
    content: "+";
    font-size: 1.5rem;
    position: absolute;
    margin-left: -2rem;
    margin-top: -0.2rem;
}
.blog-content input[type="radio"]{
    display: none;
}
.accordian .bp{
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;

}
.blog-content input[type="radio"]:checked + h3 + .bp{
    max-height: 400px;
}
.blog-content input[type="radio"]:checked + h3::before{
    content: "-";
}

.blog-content h5{
    position: relative;
    cursor: pointer;
}
.blog-content h5::after{
    content: "";
    width: 15%;
    height: 2px;
    background: #000;
    position: absolute;
    top: 50%;
    left: 33%;
}
.blog-content h5:hover{
    color: var(--color-primary);
}
.date{
    position: absolute;
    font-size: 3.5rem;
    color: #cccbcb;
    top: -3%;
    left: 3%;
    z-index: -999;
}

/* Blog Media Queries */
@media only screen and (max-width:600px){
    .blog-box{
        width: 100%;
        margin: 3rem auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding: 1rem;
    }
    .blog-image-content .blog-image img{
        height: 70%;
        width: 70%;
    }
    .blog-content h3{
        font-size: 0.9rem;
    }
    .blog-content h5{
        font-size: 0.7rem;
    }
    .blog-content h5::after{
        width: 17%;
        top: 50%;
        left: 80%;
    }
    .date{
        top: -5%;
    }
}

@media only screen and (min-width:601px) and (max-width:1024px){
    .blog-box{
        width: 90%;
        margin: 5rem auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
    }
    .blog-image-content .blog-image img{
        height: 55%;
        width: 50%;
    }
    .blog-content h5::after{
        width: 17%;
        top: 50%;
        left: 50%;
    }
    .date{
        display: none;
    }
}
@media only screen and (min-width:1025px) and (max-width:1300px){
    .blog-content h5::after{
        width: 17%;
        top: 50%;
        left: 42%;
    }
}

/* About Page */
.about-main{
    background-image: url(images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.about-image-content{
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 1.5rem;
    width: 80%;
    margin: 4rem auto;
    justify-content: center;
    align-items: center;
}
.about-image-content .about-image img{
    width: 100%;
}
.about-image-content .about-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-image-content .about-content h2{
    margin-bottom: 1rem;
    font-size: 2rem;
}
.about-image-content .about-content p{
    margin-bottom: 1.5rem;
    line-height: 1.5;
}
.unique{
    background: linear-gradient(-45deg,rgb(240, 225, 195),rgb(203, 203, 245));
}
marquee{
    width: 100%;
    background: linear-gradient(to left,rgb(245, 243, 164),rgb(158, 236, 197));
    padding: 0.2rem 0;
}

/* About Video */
.about-video{
    width: 70%;
    min-height: 50vh;
    margin: 2rem  auto 0rem;
    text-align: center;
}
.about-video h1{
    font-size: 2.2rem;
    margin-bottom: 1rem;
}
.about-video h1 a{
    color: blueviolet;
}
.about-video video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

@media only screen and (max-width:550px){
    .about-image-content{
        grid-template-columns: 100%;
        gap: 1rem;
        width: 85%;
    }
    .about-image-content .about-content h2{
        font-size: 1.5rem;
    }
    .about-video{
        width: 85%;
    }
    .about-video h1{
        font-size: 1.5rem;
    }
}

@media only screen and (min-width:551px) and (max-width:1024px){
    .about-image-content{
        grid-template-columns: 40% 60%;
        gap: 1rem;
        width: 85%;
    }
    .about-image-content .about-content h2{
        font-size: 1.5rem;
    }
    .about-video{
        width: 80%;
    }
    .about-video h1{
        font-size: 1.5rem;
    }
}


/* Contact Page */
.contact-main{
    background-image: url(images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.contact-details-map{
    min-height:60vh;
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2rem;
    padding: 5rem;
    margin: 1rem 0;
}
.contact-map{
    width: 100%;
}
.contact-map iframe{
    width: 100%;
}
.contact-details{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contact-details .getintouch{
    margin: 2rem 0;
}
.contact-details h3{
    font-size: 2rem;
}
.contact-details h5{
    font-size: 1rem;
    margin: 1rem 0;
}
.contact-details .location{
    display: flex;
    flex-direction: column;
}
.contact-details .address{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.contact-details .address i{
    margin-right: 10px;
}
.contact-details .email{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.contact-details .email i{
    margin-right: 10px;
}
.contact-details .phone{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.contact-details .phone i{
    margin-right: 10px;
}
.contact-details .timming{
    display: flex;
    margin-bottom: 15px;
    align-items: center;
}
.contact-details .timming i{
    margin-right: 10px;
}
.contact-form-people{
    width: 100%;
    min-height:70vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
}
.contact-form-people form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.contact-form-people form span{
    margin: 1rem 0;
}
.contact-form-people form h3{
    margin-bottom: 1rem;
    font-size: 1.5rem;
}
.contact-form-people form input,
.contact-form-people form textarea{
    padding: 0.7rem 1rem;
    margin-bottom: 1rem;
    outline: none;
}
#submit{
    width: fit-content;
    padding: 10px 25px;
    border: none;
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 3px;
    cursor: pointer;
}
.contact-people{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contact-people .people {
    display: flex;
    margin: 1.5rem 0;
}
.contact-people .people img{
    margin-right: 20px;
}
.people .contact-info span{
    font-weight: bold;
    margin: 2rem 0;
    background: rgb(235, 153, 123);
}
.contact-people .people .contact-info p{
    margin: 0.5rem 0;
    line-height: 1.3;
}





@media only screen and (max-width:600px){
    .contact-details-map{
        width:100%;
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
        padding:1rem;
    }
    .contact-details{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .contact-details .getintouch{
        margin: 2rem 0;
        font-size: 0.7rem;
    }
    .contact-details h3{
        font-size: 1rem;
    }
    .contact-details h5{
        font-size: 0.8rem;
        margin: 1rem 0;
    }
    .contact-details .location{
        display: flex;
        flex-direction: column;
    }
    .contact-details .address{
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
    .contact-details .address i{
        margin-right: 10px;
    }
    .contact-details .email{
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
    .contact-details .email i{
        margin-right: 10px;
    }
    .contact-details .phone{
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
    .contact-details .phone i{
        margin-right: 10px;
    }
    .contact-details .timming{
        display: flex;
        margin-bottom: 15px;
        align-items: center;
    }
    .contact-details .timming i{
        margin-right: 10px;
    }
    .contact-map{
        width: 100%;
    }
    .contact-map iframe{
        width: 100%;
    }
    .contact-form-people{
        width: 100%;
        min-height:70vh;
        display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
        padding: 2rem 1rem;
    }
    .contact-form-people form{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .contact-form-people form span{
        margin: 1rem 0;
    }
    .contact-form-people form h3{
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
    .contact-form-people form input,
    .contact-form-people form textarea{
        padding: 0.7rem 1rem;
        margin-bottom: 1rem;
        outline: none;
    }
    #submit{
        width: fit-content;
        padding: 10px 25px;
        border: none;
        background-color: var(--color-primary);
        color: var(--color-white);
        border-radius: 3px;
        cursor: pointer;
    }
    .contact-people{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .contact-people .people {
        display: flex;
        margin: 1.5rem 0;
    }
    .contact-people .people img{
        margin-right: 20px;
    }
    .people .contact-info span{
        font-weight: bold;
        margin: 2rem 0;
        background: rgb(235, 153, 123);
    }
    .contact-people .people .contact-info p{
        margin: 0.5rem 0;
        line-height: 1.3;
    }
}

/* Thankyou Page */
.thankyou-box{
    width: 60%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3rem auto;
    text-align: center;
}
.thankyou-box h1{
    margin-bottom: 1rem;
    font-size: 1.7rem;
}
.backtohome button{
    border: none;
    margin: 1.5rem 0;
    cursor: pointer;
}
.backtohome button a{
    text-decoration: none;
    border-radius: 50px;
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1rem;
    background: var(--color-primary);
}
.backtohome button a:hover{
    color: #000;
    background: #b66802c5;
}
@media only screen and (max-width:425px){
    .thankyou-box{
        width: 80%;
        height: 35vh;
        text-align: center;
    }
    .thankyou-box h1{
        font-size: 0.9rem;
    }
    .backtohome button a{
        padding: 0.8rem 1.5rem;
        font-size: 0.7rem;
    }
}
@media only screen and (min-width:426px) and (max-width:768px){
    .thankyou-box{
        width: 70%;
        height: 30vh;
        text-align: center;
    }
    .thankyou-box h1{
        font-size: 1.1rem;
    }
    .backtohome button a{
        padding: 0.9rem 1.8rem;
        font-size: 0.8rem;
    }
}
@media only screen and (min-width:769px) and (max-width:1024px){
    .thankyou-box{
        width: 70%;
        height: 35vh;
        text-align: center;
    }
    .thankyou-box h1{
        font-size: 1.5rem;
    }
    .backtohome button a{
        padding: 1rem 1.9rem;
        font-size: 1rem;
    }
}


/* Cart Page */
.cart-main{
    background-image: url(images/banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.table{
    overflow-x: auto;
}
.table table{
    margin: 3rem 0;
    width: 100%;
    padding: 2rem;
    border-collapse: collapse;
    table-layout: fixed;
    white-space: nowrap;
}
.table table tbody img{
    width: 70px;
}
.table table td:nth-child(1),
.table table td:nth-child(4),
.table table td:nth-child(5),
.table table td:nth-child(6){
    width: 150px;
    text-align: center;
    width: fit-content;
}
.table table td:nth-child(2),
.table table td:nth-child(3){
    width: 200px;
    text-align: center;
}
/* .table table td:nth-child(5) input{
    width: 70px;
    padding:0.5rem 0.7rem;
} */
.table table thead {
    border: 1px solid #cccbcb;
    border-left: none;
    border-right: none;
}
.table table thead tr th{
    padding: 1rem 0;
}
.table table tbody tr td{
    padding-top: 1rem;
}
.table table tbody tr td .decrease,
.table table tbody tr td .increase{
    padding:0 0.2rem;
    font-size: 1.3rem;
    display: inline;
    margin: 0 10px;
}
#inline{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1.5rem auto 0;
}

.cart-coupon-total{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 0;
    padding:2rem 4rem;
}
.cart-coupon{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.cart-coupon h2{
    margin: 1rem 0;
}
.cart-coupon .coupon-input-apply{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cart-coupon .coupon-input-apply input{
    margin-right: 5px;
    padding: 0.5rem 1rem;
    width: 100%;
    outline: none;
}
.cart-coupon .coupon-input-apply .couponbtn,
.cart-total .checkout{
    padding: 0.6rem 1rem;
    border-radius: 2px;
    border: none;
    background: var(--color-success);
    color: var(--color-white);
    cursor: pointer;
    width: fit-content;
}

.cart-total{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 50%;
    border: 1px solid #cccbcb;
    padding: 2rem;
    border-radius: 5px;
}
.cart-total h2{
    margin-bottom: 1rem;
}
.cart-total table{
    border-collapse: collapse;
    margin-bottom: 1rem;
}
.cart-total table tr td,
.cart-total table tr th{
    border: 1px solid #cccbcb;
    width: fit-content;
    padding: 0.5rem;
    text-align: start;
}


/* Cart Media Query for Smaller Screen Phone */
@media only screen and (max-width:600px){
    .table table{
        margin: 2rem 0;
        overflow: auto;
        width: 100%;
        padding: 0.5rem;
    }
    .table table tbody img{
        width: 30px;
    }
    .table table td:nth-child(1){
        width: 20px;
        text-align: center;
        width: fit-content;
        font-size: 0.5rem;
    }
    .table table td:nth-child(5){
        width: 30px;
        text-align: center;
        width: fit-content;
        font-size: 0.5rem;
    }
    .table table td:nth-child(6){
        width: 40px;
        text-align: center;
        width: fit-content;
        font-size: 0.5rem;
    }
    .table table td:nth-child(2){
        width: 90px;
        text-align: center;
        font-size: 0.5rem;
    }
    .table table td:nth-child(3),
    .table table td:nth-child(4){
    width: auto;
    text-align: center;
    font-size: 0.5rem; 
    overflow: hidden;
    }

    .table table td:nth-child(5) input{
        width: 30px;
        padding:0.2rem;
        font-size: 0.5rem;
    }
    .table table thead {
        border: 1px solid #cccbcb;
    }
    .table table thead tr th{
        padding: 1rem 0;
        font-size: 0.5rem;
    }
    .cart-coupon-total{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
        margin: 2rem 0;
        padding:2rem;
    }
    .cart-coupon{
        width: 100%;
        margin-bottom: 2rem;
    }
    .cart-coupon .coupon-input-apply{
        justify-content: space-between;
    }
    .cart-coupon .coupon-input-apply input{
        font-size: 0.7rem;
    }
    .cart-coupon .coupon-input-apply .couponbtn,
    .cart-total .checkout{
        font-size: 0.7rem;
    }    
    .cart-total{
        width: 100%;
    }
    .table table tbody tr td .number{
        font-size: 0.5rem;
    }
    .table table tbody tr td .decrease,
    .table table tbody tr td .increase{
    padding:0 0.1rem;
    font-size: 0.8rem;
    margin: 0 4px;
    }
    #inline{
    margin: 0.5rem auto 0;
    }
    
}

@media only screen and (min-width:601px) and (max-width:768px){
    .table table{
        margin: 2rem 0;
        overflow: auto;
        width: 100%;
        padding: 1rem;
    }
    .table table tbody img{
        width: 70px;
    }
    .table table td:nth-child(1){
        width: 30px;
        text-align: center;
        width: fit-content;
        font-size: 0.7rem;
    }
    .table table td:nth-child(5){
        width: 40px;
        text-align: center;
        width: fit-content;
        font-size: 0.7rem;
    }
    .table table td:nth-child(6){
        width: 50px;
        text-align: center;
        width: fit-content;
        font-size: 0.7rem;
    }
    .table table td:nth-child(2){
        width: 90px;
        text-align: center;
        font-size: 0.7rem;
    }
    .table table td:nth-child(3),
    .table table td:nth-child(4){
    width: 90px;
    text-align: center;
    font-size: 0.7rem; 
    overflow: hidden;
    overflow-wrap: break-word;
}

    .table table td:nth-child(5) input{
        width: 30px;
        padding:0.2rem;
        font-size: 0.7rem;
    }
    .table table thead {
        border: 1px solid #cccbcb;
    }
    .table table thead tr th{
        padding: 1rem 0;
        font-size: 0.7rem;
    }
    .cart-coupon-total{
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-content: flex-start;
        margin: 2rem 0;
        padding:2rem;
    }
    .cart-coupon{
        width: 100%;
        margin-bottom: 2rem;
    }
    .cart-coupon .coupon-input-apply{
        justify-content: space-between;
    }
    .cart-coupon .coupon-input-apply input{
        font-size: 0.9rem;
    }
    .cart-coupon .coupon-input-apply .couponbtn,
    .cart-total .checkout{
        font-size: 0.9rem;
    }    
    .cart-total{
        width: 100%;
    }
    
}

@media only screen and (min-width:769px) and (max-width:1024px){
    
    .table table td:nth-child(3),
    .table table td:nth-child(4){
    width: 90px;
    text-align: center;
    font-size: 0.9rem; 
    overflow: hidden;
    overflow-wrap: break-word;
}

    
}

